/* 
	Variables
	------------------------------------------------
*/

//FONTS
$icon-font : 'simple-icon';
$body-font : 'Quicksand', Arial, sans-serif;

//COLORS
$primary : #ffffff;
$dark-grey : #2C2C2C;
$grey : #B6B5B5;
$grey-alt : #9F9E9E;
$light-grey : #EBEBEB;
$dark-red : #660800;
